<ion-view view-title="{{'TABS_LIST' | translate}}">
  <form class="bar bar-subheader item-input-inset" ng-if="!lc.ui.editMode" ng-submit="lc.addItem()">
    <label class="item-input-wrapper">
      <i class="icon"></i>
      <input type="text" placeholder="{{'TABS_ITEM_NEW_PLACEHOLDER' | translate}}" ng-model="lc.newItem" ng-enter="lc.addItem()">
    </label>
    <button class="button button-icon icon ion-ios-plus-outline" type="button" ng-click="lc.addItem()">
    </button>
  </form>
  <form class="bar bar-subheader item-input-inset" ng-if="lc.ui.editMode" ng-submit="lc.endEdit()">
    <label class="item-input-wrapper">
      <i class="icon"></i>
      <input type="text" placeholder="{{'TABS_ITEM_EDIT_PLACEHOLDER' | translate}}" ng-model="lc.selectedItem.label" ng-enter="lc.endEdit()">
    </label>
    <button class="button button-icon icon ion-ios-checkmark-outline" ng-click="lc.endEdit()" type="button">
    </button>
  </form>
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-ios-minus-outline" ng-click="lc.toggleDelete()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ui-sref="tab.list-choose" translate>
      CHOOSE
    </button>
  </ion-nav-buttons>
  <ion-content class="has-subheader">
    <ion-list show-delete="lc.ui.showDelete" can-swipe="listCanSwipe">
      <ion-item ng-repeat="item in lc.list" ng-click="lc.editItem(item, $index)" class="item-remove-animate item-add-animate">
        {{item.label}}
        <ion-option-button class="button-info" ng-click="lc.editItem(item, $index)">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="lc.deleteItem($index)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>